<include file="Public/header" />
</head>

<body>
<div class="margin clearfix">
 <div class="article_style">
    <div class="add_content" id="form-article-add">
     <ul>
      <li class="clearfix Mandatory">
      <label class="label_name"><i>*</i>文章标题</label><span class="formControls col-10">
        <input type="text" id="form-field-1" class="col-xs-10 col-sm-5 " name="title" value="{$data.title}">
      </span>
      </li>
      <li class="clearfix Mandatory"><label class="label_name"><i>*</i>发布时间</label>
      <span class="formControls col-10">    
        <input type="text" id="start" class="form-control laydate-icon" name="time" value="{$data.time}" /> 
      </span>
      </li>
      <li class="clearfix"><label class="label_name"><i>*</i>所属分类</label>
       <span class="formControls col-4">
        <select class="form-control" id="classification" name="classification">
          <option value="">--选择所属分类--</option>
          <if condition="$data.classification eq 6 ">
            <option value="6" selected="selected">钢管知识</option>
            <option value="7">行业动态</option>
            <option value="17">热点资讯</option>
          <elseif condition="$data.classification eq 7 " />
            <option value="6">钢管知识</option>
            <option value="7" selected="selected">行业动态</option>
            <option value="17">热点资讯</option>
            <else/>
            <option value="6">钢管知识</option>
            <option value="7">行业动态</option>
            <option value="17"  selected="selected">热点资讯</option>
          </if>
       </select>
       </span>
      </li>
      <li class="clearfix"><label class="label_name">是否置顶</label>
        <span class="formControls col-10">
        <span class="add_date l_f">
          <if condition="$data.settop eq 1 ">
            <label><input  type="radio" class="ace" name="settop" value="1" checked="checked"><span class="lbl">置顶</span></label>&nbsp;
         <label><input  type="radio" class="ace" name="settop" value="0" ><span class="lbl">不置顶</span></label>
          <else />
            <label><input  type="radio" class="ace" name="settop" value="1" ><span class="lbl">置顶</span></label>&nbsp;
         <label><input  type="radio" class="ace" name="settop" value="0" checked="checked"><span class="lbl">不置顶</span></label>
          </if>

         
       </span>
       </span>
      </li>
      <li class="clearfix"><label class="label_name">文章内容</label>
      <span class="formControls col-10"><script id="editor" type="text/plain" style="width:100%;height:400px; margin-left:10px;">{$data.content}</script> </span>
      </li>
     </ul>
    <div class="Button_operation">
				<button onclick="article_save_submit();" class="btn btn-primary radius" type="submit">保存并提交</button>
			</div>
    </div>
 </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/Widget/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/Widget/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/Widget/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script> 
<script type="text/javascript" src="__PUBLIC__/assets/laydate/laydate.js"></script>
<script type="text/javascript">
/**提交操作**/
function article_save_submit(){
	   var num=0;
		 var str="";
     $(".Mandatory input[type$='text']").each(function(n){
          if($(this).val()=="")
          {
               
			   layer.alert(str+=""+$(this).attr("name")+"不能为空！\r\n",{
                title: '提示框',				
				icon:0,								
          }); 
		    num++;
            return false;            
          }else{
            var title = $(" input[ name='title' ] ").val();
            var time = $(" input[ name='time' ] ").val();
            var classification = $("#classification").find("option:selected").val();
            var settop = $(" input[ name='settop' ]:checked ").val();
            var data = {
                    "id" : {$data.id},
                    "title" : title,
                    "time" : time,
                    "classification" : classification,
                    "settop":settop,
                    "content" : UE.getEditor('editor').getContent()
                  }
            console.log(data);

                $.ajax({
                url:"{:U('Admin/Index/exitnewsCon')}",//请求地址
                data:data,//发送的数据
                type:'POST',//请求的方式
                success:function (argument) {
                  if(argument==0){  return false;}    
                    else{
                  layer.alert('添加成功！',{
                         title: '提示框',        
                icon:1,   
                  });
                } 
                },// 请求成功执行的方法
                error:function (argument) {
                 if(argument>0){  
                  return false;}    
                    else{
                      
                  layer.alert('添加失败！',{
                         title: '提示框',        
                icon:1,   
                  });
                   layer.close(index);  
                } 
                },//请求失败调用
            })
          }
		 });	  		     					
	}
$(function(){
	var content = UE.getEditor('editor');
});

/**日期选择**/
var start = {
    elem: '#start',
    format: 'YYYY/MM/DD',
    //min: laydate.now(), //设定最小日期为当前日期
    max: '2099-06-16', //最大日期
    istime: false,
    istoday: false,
    choose: function(datas){
         end.min = datas; //开始日选好后，重置结束日的最小日期
         end.start = datas //将结束日的初始值设定为开始日
    }
};
var end = {
    elem: '#end',
    format: 'YYYY/MM/DD',
    min: laydate.now(),
    max: '2099-06-16 ',
    istime: true,
    istoday: false,
    choose: function(datas){
        start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
</script>
