		<div class="footer ">
			<div class="footernav w">
				<ul>
					<li><a href="#">网站首页</a></li>
				</ul>
				<ul>
					<li class="navbars">关于我们</li>
					<li><a href="#">企业概况</a></li>
				</ul>
				<ul>
					<li class="navbars">产品中心</li>
					<li><a href="#">无缝钢管</a></li>
					<li><a href="#">精密钢管</a></li>
					<li><a href="#">合金钢管</a></li>
				</ul>
				<ul>
					<li class="navbars">新闻中心</li>
					<li><a href="#">钢管知识</a></li>
					<li><a href="#">行业动态</a></li>
				</ul>
				<ul>
					<li class="navbars">钢管加工</li>
					<li><a href="#">自动切割</a></li>
					<li><a href="#">锯床切割</a></li>
					<li><a href="#">钢管倒角</a></li>
				</ul>
				<ul>
					<li class="navbars">行业应用</li>
					<li><a href="#">电力领域</a></li>
					<li><a href="#">石化领域</a></li>
					<li><a href="#">冶金领域</a></li>
					<li><a href="#">机械领域</a></li>
					<li><a href="#">汽车领域</a></li>
					<li><a href="#">其他领域</a></li>
				</ul>
				<ul>
					<li class="navbars">联系我们</li>
					<li><a href="#">联系方式</a></li>
					<li><a href="#">电子地图</a></li>
					<li><a href="#">资讯建议</a></li>
				</ul>
				<div class="gsjjright" style="margin:15px;padding-left: 80px;">
					<div class="lxwmCon">
						<h3>千宇信息科技有限责任公司</h3>
						<p><span>联系电话：</span>15566666666&nbsp;&nbsp;18888888888</p>
						<p><span>QQ：</span>908892873</p>
						<p><span>微信：</span>908892873</p>
						<p><span>地址：</span>聊城市巨友金属材料有限公司座落于美丽的江北水城——聊城</p>
						<p><span>销售：</span>10＃、20＃、35＃、45＃、16－50Mn、27SiMn、40Cr、 12-42CrMo、45Mn2、12Cr1MoV、15CrMo、20crmo、30crmo 35crmo 42crmo 、38CrMoAl、DZ40-70、Cr5Mo</p>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>