.news{
	list-style: none;
}
.news li {
    width: 100%;
    height: 48px;
    border-bottom: 1px dashed #d5d4d4;
    font: 14px/48px '微软雅黑';
    background: url(../img/icons1.jpg) 5px center no-repeat;
    text-indent: 16px;
    padding-left: 10px;
}
.news li a{
	color: #000;
}
.tuijian span{
	font-size: 14px;
	color:  #F7842B;
	padding-right:10px;
}
.newsTime{
	float: right;
	padding-right: 10px;
	color: #666;
}
.newsList{
	margin-bottom: 30px;
	padding-top:30px;

}
.newsList a{
	display: inline-block;
	width: 570px !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.page{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    clear: both;
}
.num,.current,.prev,.next{
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(226, 226, 226);
	border-bottom-style: solid;
	border-bottom-width: 0.666667px;
	border-image-outset: 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(226, 226, 226);
	border-left-style: solid;
	border-left-width: 0.666667px;
	border-right-color: rgb(226, 226, 226);
	border-right-style: solid;
	border-right-width: 0.666667px;
	border-top-color: rgb(226, 226, 226);
	border-top-style: solid;
	border-top-width: 0.666667px;
	box-sizing: content-box;
	color: rgb(51, 51, 51);
	display: inline-block;
	font-family: Helvetica Neue, Helvetica, PingFang SC, 微软雅黑, Tahoma, Arial, sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-variant-alternates: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-weight: 400;
	height: 28px;
	line-height: 28px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: -1px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}
.current{
	color: #FFF !important;
    background:#064BB2;
}
h4{
	text-align: center;
}